<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle expanded disabled>
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title class="panel-title">{{ panelTitle }}</mat-panel-title>
        <mat-panel-description class="panel-desc">{{ panelDescription }}</mat-panel-description>
        <mat-icon class="pannel-icon">{{ icon }}</mat-icon>
      </mat-expansion-panel-header>

      <div class="field-container">
        <mat-form-field class="title">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Title of the page"
            [formControl]="titleControl"
            (blur)="onTitleBlur()"
          />
          <mat-icon matSuffix>title</mat-icon>
          @if (titleControl.invalid && titleControl.touched) {
            <mat-error>{{ getTitleErrorMessage() }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="link">
          <mat-label>Link</mat-label>
          <input
            matInput
            placeholder="Link of the page"
            [formControl]="linkControl"
            (blur)="onLinkBlur()"
          />
          <mat-icon matSuffix>link</mat-icon>
          @if (linkControl.invalid && linkControl.touched) {
            <mat-error>{{ getLinkErrorMessage() }}</mat-error>
          }
        </mat-form-field>

        <mat-action-row class="action">
          <button type="button" matButton="filled" (click)="onSubmit()" [disabled]="!isFormValid()">
            {{ buttonText }}
          </button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
