@use '@angular/material' as mat;

.container {
  --mat-padding: 24px;

  padding-block: 20px;
  margin: auto;

  @media screen and (width >=768px) {
    padding: 30px;
    width: 60%;
  }

  @include mat.expansion-overrides((header-disabled-state-text-color: #333,
      header-description-color: #888,
      actions-divider-color: #dfdfdf));
  @include mat.form-field-overrides((filled-container-color: transparent));
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description {
  color: var(--mat-expansion-header-description-color, var(--mat-sys-on-surface-variant));
}

.title {
  box-sizing: border-box;

  @media screen and (width >=768px) {
    width: 33%;
  }
}

.link {
  box-sizing: border-box;

  @media screen and (width >=768px) {
    width: calc(78% - (var(--mat-padding) * 4 + 20px));
    margin-left: 20px;
  }
}

.action {
  margin-top: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;

  @media screen and (width >=768px) {
    display: block;
  }
}

.panel-header {
  @media screen and (width < 768px) {
    height: auto;
    padding: 12px 24px;
  }


  &::ng-deep .mat-content {
    @media screen and (width < 768px) {
      display: grid;
      grid-template-areas: 'title icon'
        'desc icon';
      grid-template-columns: 1fr auto;  
    }
  }
}

.panel-title {
  @media screen and (width < 768px) {
    grid-area: title;
  }
}

.panel-desc {
  @media screen and (width < 768px) {
    grid-area: desc;
  }
}

.pannel-icon {
  @media screen and (width < 768px) {
    grid-area: icon;
    grid-row: span 2;
    place-self: center;
  }
}